/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #444b51;
}

h1 {
    text-transform: uppercase;
    margin-left: 30px;
}

h2 {
    text-align: center;
    font-size: 52px;
    margin-bottom: 48px;
}

.container {
    width: 960px;
    margin: 0 auto;
    border-top: 10px solid rgb(229, 248, 240);
    border-bottom: 10px solid rgb(229, 248, 240);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: auto; */
    border: 2px solid #e5f3ed;
    background-color: #eff9f5;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 80px;
}

nav a {
    display: inline-block;
    margin: 30px 25px;
    color: #444b51;
}

a:link {
    font-size: 24px;
    text-decoration: none;
}

a:visited {
    color: #444b51;
}

a:hover {
    color: #38d9a9;
    font-weight: bold;
    text-decoration: underline #38d9a9;
    text-shadow: 0 0 5px #c3fae8, 0 0 15px #c3fae8, 0 0 30px #c3fae8;
}

a:active {
    background-color: rgba(255, 255, 255, 0.342);
    font-style: italic;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 550px;
    grid-template-rows: 1fr 290px 290px;
    column-gap: 30px;

    h2 {
        grid-column: 1/-1;
        font-size: 20;
        background-color: #38d9a92d;
        border-radius: 30px;
        /* border-left: 10px solid saddlebrown; */
    }
}

.page {
    /* border: 2px solid; */
    padding: 20px;
    box-shadow: 12px 12px 1px 1px #38d9a92d;
    border-radius: 12px;
    justify-self: center;
    align-self: center;
    background-color: rgb(255, 255, 255);
    h3 {
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 24px;
    }
    p {
        font-size: 14px;
        text-align: left;
    }
}

img {
    width: 100%;
    max-width: 490px;
    height: auto;
    grid-column: 3/4;
    grid-row: 2 / 4;
    border-radius: 30px;
    justify-self: center;
    align-self: center;
}

.two {
    grid-column: 1/3;
    grid-row: 2/3;
}
.one {
    grid-column: 1/3;
    grid-row: 3/4;
}
